<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="dbconn.properties"></properties>
	<typeAliases>
		<typeAlias type="ism.web.board.model.UserVO" alias="User"/>
		<typeAlias type="ism.web.board.model.PostingVO" alias="Posting"/>
	</typeAliases>
	<environments default="junit">
		<environment id="junit">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${junit.driver}" />
				<property name="url" value="${junit.demoboard.url}" />
				<property name="username" value="${junit.demoboard.user}" />
				<property name="password" value="${junit.demoboard.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="ism/web/board/model/UserVO.xml" />
		<mapper resource="ism/web/board/model/PostingVO.xml"/>
	</mappers>
</configuration>